<?php
$csv_files = $this->getCsv();
$csv_records = $this->getCsvRecords();
?>
<style>
    .ext-tbl{
        padding: 5px;
        border: 1px solid #EAEAEA;;
    }
</style>
<h3>Latest .CSV</h3>
<table width="100%">
    <th class="ext-tbl"><em>#</em></th>
    <th class="ext-tbl"><em>ID</em></th>
    <?php if (is_array($csv_records) && count($csv_records)) { ?>
        <?php foreach ($csv_records as $key => $csv_record) { ?>
            <?php $key++; ?>
            <tr>
                <td class="ext-tbl"><?php echo $key; ?> </td>
                <td class="ext-tbl"><?php echo $csv_record['line']; ?> </td>
            </tr>
        <?php } ?>
    <?php } ?>
</table>
<br>
<h3>Uploaded CSV</h3>
<table width="100%" border="0">
    <th class="ext-tbl"><em>File</em></th>
    <?php if (is_array($csv_files) && count($csv_files)) { ?>
        <?php foreach ($csv_files as $csv_file) { ?>
            <tr>
                <td class="ext-tbl"> <?php echo $csv_file['file']; ?> </td>
            </tr>
        <?php } ?>
    <?php } ?>
</table>

