<?php
$magento_records = $this->getMagentoOrders();
$csv_records = $this->getLayout()->getBlockSingleton('csv_management/csv')->getCsvRecords();
$compare_analytics = $this->setCsvOrders($csv_records);
$compare_magento = $this->setMagentoOrders($magento_records);
$filter = $this->compareOrders($compare_magento, $compare_analytics);
$counter = 1;
?>
<style>
    .ext-tbl {
        padding: 7px;
        border: 1px solid #EAEAEA;
    }

    .ext-sub-header {
        background-color: #EAEAEA;
        font-size: 12px;
        padding: 7px;
    }
</style>
<h3>Missing Transactions</h3>
<p> Build me a .txt file with all links - Click <a href="/magento/links/links.txt">here</a></p>
<br>
<table width="100%">
    <?php if (is_array($filter)) { ?>
        <?php $this->generateTextFile($filter); ?>
        <?php foreach ($filter as $item) { ?>
            <th class="ext-tbl"><em>ID</em></th>
            <th class="ext-tbl"><em>Order#</em></th>
            <th class="ext-tbl" colspan="5"><em>Created At</em></th>
            <tr>
                <td class="ext-tbl"> <?php echo $item['order_id'] ?> </td>
                <td class="ext-tbl"> <?php echo $item['increment_id'] ?> </td>
                <td class="ext-tbl"> <?php echo $item['created_at']; ?> </td>
                <td class="ext-tbl" colspan="4"></td>
            </tr>
            <?php $order = $this->getOrderItem($item['order_id']); ?>
            <tr>
                <td class="ext-sub-header">&nbsp;</td>
                <td class="ext-sub-header">sku</td>
                <td class="ext-sub-header">name</td>
                <td class="ext-sub-header">category</td>
                <td class="ext-sub-header">price</td>
                <td class="ext-sub-header">quantity</td>
            </tr>
            <?php $counter = 1;
            $url = "product=".$item['increment_id']."&";
            foreach ($order as $product) {
                $url = $this->generateURL(
                    $counter,
                    $url,
                    $product['sku'],
                    $product['name'],
                    $this->getCategoryName($product['category_id']),
                    $product['price'],
                    $product['quantity']);
                $counter++;
                ?>
                <tr style="color:#999; font-size: 12px;">
                    <td style="text-align: right; padding:7px;">&rarrhk;</td>
                    <td><?php echo $product['sku']; ?></td>
                    <td><?php echo $product['name']; ?></td>
                    <td><?php echo $this->getCategoryName($product['category_id']); ?></td>
                    <td><?php echo $product['price']; ?></td>
                    <td><?php echo $product['quantity']; ?></td>
                </tr>
            <?php
            }
            ?>

            <tr>
                <td>
                    <?php
                    if(isset($_POST['submit'.$item['order_id']])){
                        echo "<script> window.open('http://$_SERVER[SERVER_NAME]$_SERVER[REQUEST_URI]/index/push/action?$url', '_blank');</script>";
                    }
                    ?>
                    <form method="post">
                        <input type="submit" name="submit<?php echo $item['order_id']; ?>" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        <?php } ?>
    <?php } ?>
</table>