<?php
$products = $this->getOrders();
?>
<style>
    .ext-tbl{
        padding: 7px;
        border: 1px solid #EAEAEA;
    }
</style>
<h3>Mage Orders</h3>
<table width="100%" border="0">
    <th class="ext-tbl"><em>#</em></th>
    <th class="ext-tbl"><em>ID</em></th>
    <?php if (is_array($products) && count($products)) { ?>
        <?php foreach ($products as $key => $product) { ?>
            <?php $key++; ?>
            <tr>
                <td class="ext-tbl"> <?php echo $key; ?> </td>
                <td class="ext-tbl"> <?php echo $product['increment_id']; ?> </td>
            </tr>
        <?php } ?>
    <?php } ?>
</table>
