<h3>The following items are pushed to GA</h3>

<h4>GA Header</h4>
<?php
$items_passed = substr_count($this->getFullUrl(), '&') / 5; //We are passing 5 values
$url_get = $this->setURL((int)$items_passed);
foreach ($url_get as $key => $item) {
    $key++;
    echo
        $item['product'].'<br>',
        $item['sku' . $key] . '<br>' .
        $item['name' . $key] . '<br>' .
        $item['category' . $key] . '<br>' .
        $item['price' . $key] . '<br>' .
        $item['quantity' . $key] . '<br>';
}
?>
<h4>GA Send</h4>
